DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=desafio_db
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/desafio_db?schema=public

JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=7d

PORT=3001